@use "./abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack-primary;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
}
