@use "./abstracts" as *;

.btn {
  border: none;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  color: $primary-color;
  letter-spacing: 0.3rem;
}

.container {
  width: min(90%, 1200px);
  margin: 50px auto;
}

.flex {
  @include flex;
}

.grid {
  @include grid;
}
