@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

$primary-color: #00bcbd;
$secondary-color: #f84d4f;

$clr-accent-darkblue: #214e66;
$clr-accent-grey: #f1f8fc;
$clr-accent-pink: #f96869;

$font-stack-primary: "Oswald", sans-serif;
$font-stack-secondary: "Open Sans", sans-serif;
