.home-services {
  color: var(--#fff);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  padding: 20px;
  align-items: flex-start;
}

.home-services-text {
  padding: 10px 20px;
}

.home-services-text > * {
  margin: 20px;
}

.home-services-text a {
  background-color: var(--secondary-color);
  color: var(--#fff);
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.4s ease-in-out;
}

.home-services-text a:hover {
  background-color: var(--clr-secondary-blue);
}

.home-services-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 20px;
}

.home-services-icon {
  background-color: var(--#fff);
  border-radius: 5px;
  color: var(--primary-color);
  text-align: center;
  transition-property: color transform;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 20px;
}

.home-services-icon:hover {
  color: var(--secondary-color);
  transform: translateY(-5px);
}

.home-services-icon :nth-child(1) {
  font-size: 8rem;
}

.home-services-icon :nth-child(2) {
  font-family: var(--ff-heading);
}

@media (max-width: 1000px) {
  .home-services {
    grid-template-columns: auto;
  }

  .home-services-icons {
    grid-template-columns: 1fr 1fr;
  }
}
