@use "../../../assets/styles/member";

.home-appointment {
  @include member.grid(3fr 6fr);
  background-color: member.$clr-primary-pink;
  color: member.$clr-primary-white;
  position: relative;
  top: -8rem;
  border-radius: 0.3125rem;
  padding: 2rem 3rem;

  > * {
    padding: 1rem;
  }

  .home-appointment-label {
    hr {
      border: 1px solid white;
      width: 6rem;
      margin-bottom: 2rem;
    }
  }

  .home-appointment-form {
    @include member.grid(repeat(2, 1fr));

    input,
    select {
      background-color: member.$clr-accent-pink;
      color: member.$clr-primary-white;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem;
      cursor: pointer;
    }

    button {
      @include member.btn-slide(
        $bg1: member.$clr-primary-white,
        $bg2: member.$clr-primary-blue,
        $txt1: member.$clr-primary-pink,
        $txt2: member.$clr-primary-white
      );
      grid-column: 1/3;
      justify-self: end;
    }
  }
}

@media (max-width: 1000px) {
  .home-appointment {
    grid-template-columns: auto;
  }
}

@media (max-width: 700px) {
  .home-appointment {
    .home-appointment-form {
      grid-template-columns: auto;

      button {
        grid-column: 1/2;
      }
    }
  }
}
