.home-appointment {
  @include grid(3fr 6fr);
  background-color: $secondary-color;
  color: #fff;
  position: relative;
  top: -8rem;
  border-radius: 0.3125rem;
  padding: 2rem 3rem;

  > * {
    padding: 1rem;
  }

  .home-appointment-label {
    hr {
      border: 1px solid white;
      width: 6rem;
      margin-bottom: 2rem;
    }
  }

  .home-appointment-form {
    @include grid(repeat(2, 1fr));

    input,
    select {
      background-color: $clr-accent-pink;
      color: #fff;
      border: none;
      border-radius: 0.3125rem;
      padding: 1rem;
      cursor: pointer;
      outline: none;
    }

    button {
      @include btn-slide(
        $bg1: #fff,
        $bg2: $primary-color,
        $txt1: $secondary-color,
        $txt2: #fff
      );
      grid-column: 1/3;
      justify-self: end;
    }
  }
}

@media (max-width: 1000px) {
  .home-appointment {
    grid-template-columns: auto;
  }
}

@media (max-width: 700px) {
  .home-appointment {
    position: static;

    .home-appointment-form {
      grid-template-columns: auto;

      button {
        grid-column: 1/2;
      }
    }
  }
}
