@use "../../assets/scss/abstracts/" as *;

@forward "./Hero";
@forward "./AppointmentForm";
@forward "./Introduction";
@forward "./HomeServices";
@forward "./Video";

/* Location Background */

.location-bg {
  background: url("../../assets/images/location-bg.jpg") no-repeat;
  text-align: center;
  color: $clr-accent-darkblue;
  padding: 20px;
}

.location-bg > * {
  padding: 10px;
}

/* *************** */
/* Healthcare Blog */
/* *************** */

.home-blog {
  width: 80%;
  margin-inline: auto;
  color: $clr-accent-darkblue;
}

.home-blog > h1,
.home-blog > p {
  text-align: center;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.blog {
  padding: 10px;
  margin-block: 40px;
}

.blog img {
  width: 100%;
}

.blog p {
  margin: 1rem;
  cursor: default;
  color: $secondary-color;
}

.blog a {
  color: $clr-accent-darkblue;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

.blog a:hover {
  color: $secondary-color;
}

@media (max-width: 1000px) {
  .blogs {
    grid-template-columns: auto;
  }
}
