.services {
  color: var(--clr-primary-white);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  padding: 40px;
  align-items: flex-start;
}

.services-text {
  padding: 10px 20px;
}

.services-text > * {
  margin: 20px;
}

.services-text a {
  background-color: var(--clr-primary-pink);
  color: var(--clr-primary-white);
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.4s ease-in-out;
}

.services-text a:hover {
  background-color: var(--clr-secondary-blue);
}

.services-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px 20px;
}

.services-icon {
  background-color: var(--clr-primary-white);
  border-radius: 5px;
  color: var(--clr-primary-blue);
  text-align: center;
  transition-property: color transform;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 20px;
}

.services-icon:hover {
  color: var(--clr-primary-pink);
  transform: translateY(-5px);
}

.services-icon :nth-child(1) {
  font-size: 8rem;
}

.services-icon :nth-child(2) {
  font-family: var(--ff-heading);
}
