@use "../../assets/styles/member";

.navbar {
  @include member.flex;
  background-color: member.$clr-primary-blue;
  color: member.$clr-primary-white;
  transition: all 1s ease;

  .logo {
    @include member.flex(center, center);
    background-color: member.$clr-primary-white;

    img {
      width: 100%;
      padding: 0.5rem;
    }

    .toggle {
      font-size: 1.5rem;
      cursor: pointer;
      margin: 1rem;
      display: none;

      &.true {
        color: member.$clr-accent-darkblue;
      }
    }
  }

  .navlist {
    @include member.flex(space-between, center);
    width: 100%;

    ul {
      @include member.flex;
      gap: 1rem;
      padding: 0.5rem 1rem;
    }

    li {
      transition: all 0.4s ease;

      &:hover {
        color: member.$clr-accent-darkblue;
      }
    }

    .active {
      color: member.$clr-accent-darkblue;
    }

    .phone {
      justify-content: end;
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;

    .logo {
      background-color: transparent;
      width: 100%;
      @include member.flex(space-between, center);

      .toggle {
        display: block;
      }

      a {
        background-color: member.$clr-primary-white;
      }
    }
  }

  .navlist {
    &.false {
      display: none;
    }

    &.true {
      flex-direction: column;

      .big-screen-only {
        display: none;
      }

      ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
