.home {
  width: 100vw;
  height: 100vh;
  display: grid;
  color: var(--clr-primary-white);
  grid-template-columns: 1fr 5fr 1fr;
}

.home.hero1 {
  background: url("../../../assets/images/hero-img1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home.hero2 {
  background: url("../../../assets/images/hero-img2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  text-align: center;
}

.home-text h1 {
  font-size: 3.5rem;
}

.home-text p {
  background-color: var(--clr-primary-blue);
  width: fit-content;
  margin-inline: auto;
  padding: 5px 10px;
}

.switch svg {
  font-size: 4rem;
  cursor: pointer;
}
