.header.flex {
  align-items: center;
}

.logo {
  height: 100%;
  width: 200px;
  /* padding: 15px; */
}

.logo a {
  height: 100%;
  background-color: var(--clr-primary-white);
}

.logo img {
  width: 100%;
  padding: 15px;
}

.logo.flex {
  align-items: center;
}

.navbar {
  background-color: var(--clr-primary-blue);
  justify-content: space-between;
  width: 100%;
  color: var(--clr-primary-white);
}

.navbar.flex {
  align-items: center;
}

.navbar li {
  padding: 5px 10px;
  font-family: var(--ff-heading);
}

.right-down {
  text-align: right;
}

.toggle {
  display: none;
  color: var(--clr-primary-white);
  cursor: pointer;
  padding: 5px;
  margin: 15px;
}

@media (max-width: 1000px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    background-color: var(--clr-primary-blue);
  }

  .logo.flex {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navbar.false,
  .separator {
    display: none;
  }

  .toggle {
    display: block;
  }
}
