@use "../../assets/scss/abstracts" as *;

.footer {
  color: #fff;

  a {
    transition: all 0.3s ease;

    &:hover {
      color: $clr-accent-darkblue;
    }
  }

  .footer-top {
    background-color: $primary-color;

    .container {
      margin-bottom: 0;
      padding: 1rem;
      @include flex(space-between);
      gap: 1rem;

      > * > * {
        margin: 1rem;
      }

      .footer-top-first {
        flex-basis: calc(350% / 12);

        img {
          max-width: 80%;
        }
      }

      .footer-top-second {
        flex-basis: calc(450% / 12);
      }

      .footer-top-third {
        flex-basis: calc(300% / 12);
      }

      .separator {
        width: 1px;
        padding: 0;
        background-color: #fff;
      }
    }
  }

  .footer-bottom {
    background-color: #00b1b2;

    .container {
      margin-block: 0;
      padding-block: 1rem;
      text-align: center;
      text-transform: uppercase;

      .footer-links {
        @include flex($main: center);
        flex-wrap: wrap;
        padding-block: 1rem;
        gap: 0.5rem;
      }

      .copyright {
        padding-block: 1rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    .footer-top {
      .container {
        flex-direction: column;
        padding: 2rem 3rem;

        .separator {
          width: 100%;
          height: 1px;
        }
      }
    }
  }
}
