@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap");

:root {
  --clr-primary-blue: #00bcbd;
  --clr-primary-blue2: #00b1b2;
  --clr-primary-white: #fff;
  --clr-primary-pink: #f84d4f;
  --clr-primary-grey: #f1f8fc;
  --clr-secondary-blue: #214e66;

  --ff-heading: Oswald, sans-serif;
  --ff-body: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: var(--clr-primary-white);
  display: inline-block;
  font: inherit;
  color: var(--clr-primary-blue);
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn-blue {
  background-color: var(--clr-primary-blue);
  color: var(--clr-primary-white);
}

.btn-blue:hover {
  background-color: var(--clr-primary-pink);
}

.container {
  width: min(90%, 1200px);
  margin: 50px auto;
}
