@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

// Variables
$primary-color: #00bcbd;
$secondary-color: #f84d4f;

$clr-primary-black: #000;

$clr-accent-darkblue: #214e66;
$clr-accent-grey: #f1f8fc;
$clr-accent-pink: #f96869;

$font-stack-primary: "Oswald", sans-serif;
$font-stack-secondary: "Open Sans", sans-serif;

// Mixins
@mixin btn-slide(
  $bg1: $primary-color,
  $bg2: $secondary-color,
  $txt1: #fff,
  $txt2: #fff
) {
  background: linear-gradient(to right, $bg2 50%, $bg1 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: $txt1;
  transition: all 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $txt2;
  }
}

@mixin flex($main: flex-start, $cross: stretch) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
}

@mixin grid($columns: auto, $gap: 1rem) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}
