@use "./variable";

@mixin btn-slide(
  $clr1: variable.$clr-primary-blue,
  $clr2: variable.$clr-primary-pink
) {
  background: linear-gradient(to right, $clr2 50%, $clr1 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
  border-radius: 5px;

  &:hover {
    background-position: left bottom;
  }
}

@mixin flex($direction: row, $main: flex-start, $cross: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
}
