@use "./variable";

@mixin btn-slide(
  $bg1: variable.$clr-primary-blue,
  $bg2: variable.$clr-primary-pink,
  $txt1: variable.$clr-primary-white,
  $txt2: variable.$clr-primary-white
) {
  background: linear-gradient(to right, $bg2 50%, $bg1 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: $txt1;
  transition: all 0.3s ease-out;

  &:hover {
    background-position: left bottom;
    color: $txt2;
  }
}

@mixin flex($main: flex-start, $cross: stretch) {
  display: flex;
  justify-content: $main;
  align-items: $cross;
}

@mixin grid($columns: auto, $gap: 1rem) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}
