@use "./member";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: member.$font-stack-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: member.$font-stack-heading;
  text-transform: uppercase;
}
