@use "./member";

.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: member.$clr-primary-white;
  color: member.$clr-primary-blue;
  letter-spacing: 0.3rem;
}

.container {
  width: min(90%, 1200px);
  margin: 50px auto;
}

.flex {
  @include member.flex;
}

.grid {
  @include member.grid;
}
