@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

$clr-primary-blue: #00bcbd;
$clr-primary-pink: #f84d4f;

$clr-accent-blue2: #00b1b2;
$clr-accent-darkblue: #214e66;
$clr-accent-grey: #f1f8fc;

$font-stack-heading: "Oswald", sans-serif;
$font-stack-content: "Open Sans", sans-serif;
